.input-sensor-block {
    width: fit-content;
    height: fit-content;
    border: 2px dashed rgb(163, 163, 163);

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            text-align: center;
            width: 74%;
            display: flex;
            justify-content: right;
        }
    }


    .divice {
        width: 100%;
        display: flex;
        flex-direction: column;
        //   flex-wrap: wrap;
        height: 100%;
        //justify-content: center;
        align-items: center;
        // gap: 10px;
        // padding: 5px 0px;
        position: relative;

        .divice-body {
            display: flex;
            flex-direction: column;
            width: 118px;
            height: 124px;
            border-top: 2px dashed rgb(163, 163, 163);
            border-left: 2px dashed rgb(163, 163, 163);
            padding: 3px 5px;

            &.active {
                border-left: 2px dashed white;
            }

            .point-body-top {
                display: flex;
                gap: 15px;
                justify-content: center;
                padding: 3px 3px;

                .rgb {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }

            .device-bottom {
                display: flex;
                align-items: center;
                justify-content: center;

                .name-device {
                    transform-origin: center;
                    font-size: 15px;
                    transform: rotate(270deg);
                    white-space: nowrap;
                    font-weight: 700;
                    margin-top: 32px;
                    height: 40px;
                    width: 20px;
                    display: flex;
                    flex-direction: row;

                    &.cross {
                        margin-top: 0px;
                    }

                }

                .device-container {
                    height: 67px;
                    width: 67px;
                    // border: 1px solid red;

                    .PIR-img {
                        height: 67px;
                        width: 67px;
                        image-rendering: optimizeQuality;
                        image-orientation: initial;
                        object-fit: contain;
                        object-position: center;
                        cursor: pointer;
                    }

                    &.device-size {
                        width: 57px;
                        height: 59px;
                        margin-right: 5px;
                    }
                }
            }

        }

        .body-bottom {
            display: flex;
            border-top: 2px dashed rgb(163, 163, 163);

            width: 100%;
            margin-top: 2px;
            // justify-content: space-between;
            align-items: center;


            .body-keybroad {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .switch-body {
                display: flex;
                height: 185px;
                border-right: 2px dashed rgb(163, 163, 163);
                padding: 12px 5px;
                gap: 4px;

                .switch-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px
                }

                .switch-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px
                }
            }
        }
    }
}