.slide-container {
    .css-1wvake5 {

        width: 200px;
        min-width: 190px;

        .css-dip3t8 {

            height: 100vh !important;
            padding: 30px 0px !important;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .content-sidebar-center {
                .css-vj11vy {
                    .css-ewdv3l {
                        .css-16jesut {}

                        .css-1tqrhto {
                            .ps-menu-button {
                                &:hover {
                                    background: rgb(154, 250, 242);
                                }
                            }
                        }
                    }

                }

            }

            .sidebar-footer-container {
                bottom: 10px !important;
                padding: 0px 10px;

                .sidebar-footer-content {
                    .sidebar-space {}

                    .title-sidebar-footer {
                        padding: 4px 5px;
                        border-radius: 98px;
                        background: rgba(54, 51, 51, 0.8);
                        color: white;
                        //  font-family: "Roboto", sans-serif;
                        font-size: 13px;
                    }
                }
            }


        }

    }
}